* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New';
}

body, svg {
  width: 3000px;
  height: 3000px;
}

#svg {
  position: absolute;
  left: 0px;
  top: 0px;
}

.dots-background {
  background-color: #f1f4f9;
  background-image: radial-gradient(#90a1c1 0.5px, #f1f4f9 0.5px);
  background-size: 10px 10px;
}

.lines-background {
  background-color: #fff;
  background-image: linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
  position: relative;

  &:before, &:after{
    content: '';
    position: absolute;
    width: 4rem;
    height: 100%;
    background-size: 12px 12px;
    border-right: 2px solid #D44147;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 4rem;
  }

}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0.5rem;
  position: fixed;
  z-index: 1000;
  background-color: lavender;

  & .controls {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  & button {
    padding: 0.3rem;
  }
}

.draggable {
  display: flex;
  flex-direction: column;
  width: 250px;
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  top: 10%;
  left: 10%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 6px, rgba(0, 0, 0, 0.1) 0px 3px 6px;

  & strong {
    padding: 0.2rem 1rem;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
    border-bottom: 1px solid grey;
    position: relative;

    &:before, &:after {
      content: "";
      width: 50px;
      height: 10px;
      position: absolute;
      background-color: #dbd8be;
      opacity: 0.8;
    }

    &:before {
      left: -8%;
      top: 11%;
      transform: rotate(-43deg);
    }

    &:after {
      right: -8%;
      top: 11%;
      transform: rotate(47deg);
    }
  }

  & .content {
    padding: 0.2rem;
    text-align: left;
  }
}

.transparent-line {
  opacity: 0.3;
}

.ready-for-connect {
  border: 2px solid limegreen;
}
